
<!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
<!-- В дальнейшем тут будет создано полноценное меню -->
{% load static %}
<nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
    <a class="navbar-brand" href="{% url 'posts:main' %}">
        Социальная сеть для любителей кино
    </a>
    <a class="navbar-brand" href="{% url 'posts:groups' %}">
        Все группы
    </a>
    <a class="navbar-brand" href="{% url 'posts:create_post' %}">
        Создать пост
      </a>
    </div>
</nav>      

